@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color:#dfdada;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}



.logo{
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    margin-right: auto; /* Pushes the logo to the right side */
    text-decoration: none; /* Removes underline */
}


.logo i{
    color:orange
}

ul {
    list-style-type: none;
    margin-right: 120px;
    display: flex;

}

ul li {
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.user, .cart {
    
    color: #070707;
    text-decoration: none;
}

.user i, .cart i {
    font-size: 24px; 
}

  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  .loyalty-benefits {
    margin-top: 20px;
  }
  
  .loyalty-benefits h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .loyalty-benefits p {
    margin-bottom: 5px;
  }
  